.App {
  display: flex;
  flex-direction: column;
}

.Nav-Bar-Container {
  display: flex;
  height: 50px;
  background-color: #1f1f29;
  color: #f5f5fa;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 1;
}

.Nav-Bar-Shopping-Cart {
  padding: 20px 30px 0 0;
  cursor: pointer;
}

.Store-Front-Container {
  display: flex;
}

.Product-Listing {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 30px;
  justify-content: center;
}

.Product-Item {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 230px;
}

.Product-Item-Image {
  text-align: center;
}

.Product-Item-Image img {
  width: 200px;
  height: 225px;
}

.Product-Item-Title {
  text-align: center;
  height: 50px;
  margin: 20px 0 35px 0;
}

.Product-Item-Price {
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.Product-Item-Rating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.Product-Item-Btn {
  text-align: center;
  margin-top: 10px;
}

.Product-Item-Btn button {
  color: #f5f5fa;
  font-size: 14px;
  padding: 8px 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgb(226, 17, 17);
  cursor: pointer;
}

.Shopping-Cart {
  width: 25%;
  padding: 20px;
  position: fixed;
  right: 0;
  height: 100vh;
  border-left: 2px solid black;
}