@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

.Nav-Bar-Container {
  display: flex;
  height: 50px;
  background-color: #1f1f29;
  color: #f5f5fa;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.Nav-Bar-User-Login,
.Nav-Bar-Sign-Up,
.Nav-Bar-Shopping-Cart {
  padding: 20px 30px 0 0;
  cursor: pointer;
}

.Store-Title {
  padding-left: 20px;
  font-family: 'Kaushan Script', cursive;
}

.Nav-Bar-Links {
  display: flex;
}

.Store-Front-Container {
  display: flex;
  -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.Product-Listing {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 30px;
  justify-content: center;
}

.Product-Item {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 230px;
}

.Product-Item-Image {
  text-align: center;
}

.Product-Item-Image img {
  width: 200px;
  height: 225px;
}

.Product-Item-Title {
  text-align: center;
  height: 50px;
  margin: 20px 0 35px 0;
}

.Product-Item-Price {
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.Product-Item-Rating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.Product-Item-Btn {
  text-align: center;
  margin-top: 10px;
}

.Product-Item-Btn button {
  color: #f5f5fa;
  font-size: 14px;
  padding: 8px 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgb(226, 17, 17);
  cursor: pointer;
}

.Shopping-Cart {
  width: 25%;
  padding: 20px;
  position: fixed;
  right: 0;
  height: 100vh;
  border-left: 2px solid black;
}

#User-Form-Close-Btn {
  outline: none;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.User-Login-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top:250px;
  left: 750px;
  width: 400px;
  height: 300px;
  border: 2px solid black;
  background-color: #f5f5fa;
  z-index: 1;
}

.User-Login-Form h1 {
  margin-bottom: 50px;
}

.User-Login-Form input {
  width: 200px;
  outline: none;
  border-bottom: 2px solid #1f1f29;
}

#username-input {
  margin-bottom: 30px;
}

#password-input {
  margin-bottom: 5px;
}

.User-Login-Form form button {
  outline: none;
  padding: 2px 8px;
  cursor: pointer;
}

.User-Login-Form-Links {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 30px;
  cursor: pointer;
}

.Link-Hover:hover {
  font-weight: bold;
  text-decoration: underline;
}

.User-Signup-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top:250px;
  left: 750px;
  width: 400px;
  height: 300px;
  border: 2px solid black;
  background-color: #f5f5fa;
  z-index: 1;
}

.User-Signup-Form h1 {
  margin-bottom: 35px;
}

.User-Signup-Form input {
  width: 200px;
  outline: none;
  border-bottom: 2px solid #1f1f29;
}

.User-Signup-Form form button {
  outline: none;
  padding: 2px 8px;
  cursor: pointer;
}