@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

.Nav-Bar-Container {
  display: flex;
  height: 50px;
  background-color: #1f1f29;
  color: #f5f5fa;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.Nav-Bar-User-Login,
.Nav-Bar-Sign-Up,
.Nav-Bar-Shopping-Cart {
  padding: 20px 30px 0 0;
  cursor: pointer;
}

.Store-Title {
  padding-left: 20px;
  font-family: 'Kaushan Script', cursive;
}

.Nav-Bar-Links {
  display: flex;
}

.Store-Front-Container {
  display: flex;
  -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.Product-Listing {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 30px;
  justify-content: center;
}

.Product-Item {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 230px;
}

.Product-Item-Image {
  text-align: center;
}

.Product-Item-Image img {
  width: 200px;
  height: 225px;
}

.Product-Item-Title {
  text-align: center;
  height: 50px;
  margin: 20px 0 35px 0;
}

.Product-Item-Price {
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.Product-Item-Rating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.Product-Item-Btn {
  text-align: center;
  margin-top: 10px;
}

.Product-Item-Btn button {
  color: #f5f5fa;
  font-size: 14px;
  padding: 8px 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgb(226, 17, 17);
  cursor: pointer;
}

.Shopping-Cart {
  width: 25%;
  padding: 20px;
  position: fixed;
  right: 0;
  height: 100vh;
  border-left: 2px solid gray;
}

.Shopping-Cart-Header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 50px 0;
}

.Shopping-Cart-Item-Listing-Container {
  padding: 0 10px;
}

.Shopping-Cart-Item {
  margin-bottom: 20px;
}

.User-Form-Close-Btn-Container {
  display: flex;
  width: 100%;
  padding: 5px 15px 0 0;
  justify-content: flex-end;
}

#User-Form-Close-Btn {
  background-color: #f5f5fa;
  outline: none;
  border: none;
  cursor: pointer;
}

#User-Form-Close-Btn:hover {
  font-weight: bold;
}

.User-Login-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 41%;
  width: 400px;
  height: 300px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 1px rgb(190, 190, 190);
  background-color: #f5f5fa;
  z-index: 1;
}

.User-Login-Form h1 {
  margin-bottom: 35px;
}

.User-Login-Form input {
  width: 220px;
  height: 30px;
  padding-left: 5px;
  outline: none;
  border-radius: 4px;
}

#login-password-input {
  margin-bottom: 5px;
}

.User-Login-Form form button {
  outline: none;
  padding: 2px 10px;
  cursor: pointer;
}

.User-Login-Form-Links {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 30px;
  padding: 0 2px;
  cursor: pointer;
}

.Link-Hover:hover {
  font-weight: bold;
  text-decoration: underline;
}

.User-Signup-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top:250px;
  left: 41%;
  width: 400px;
  height: 450px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 1px rgb(190, 190, 190);
  background-color: #f5f5fa;
  z-index: 1;
  text-align: center;
}

.User-Signup-Form h1 {
  margin-bottom: 25px;
}

.User-Signup-Form p {
  font-size: 13px;
  margin-bottom: 20px;
}

.User-Signup-Form input {
  width: 200px;
  height: 30px;
  padding-left: 5px;
  outline: none;
  border-radius: 4px;
  margin-bottom: 15px;
}

.User-Signup-Form form button {
  outline: none;
  margin-top: 20px;
  padding: 2px 10px;
  cursor: pointer;
}

.Nav-Bar-Welcome p{
  width: 300px;
  font-size: 14px;
  text-align: right;
  padding: 20px 35px 0 0;
}

.Login-Error {
  font-family: 'Times New Roman', Times, serif;
  font-size: 11px;
  height: 10px;
  color: red;
  margin-left: 3px;
  margin-bottom: 15px;
}

.Login-Password-Container i {
  position: absolute;
  top: 56%;
  right: 14%;
}

.Signup-Password-Container i {
  position: absolute;
  top: 52%;
  right: 17%;
}

.fa-eye {
  cursor: pointer;
}

.fa-eye-slash {
  cursor: pointer;
  color: lightgray;
}